/*orange: #e67e22*/

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #535353;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    opacity: 0.95;
}

section {
    padding: 80px 0;
}
/* ----- HEADINGS ----- */

h1,h2,h3 {

    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    font-size: 240%;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}

h2 {
    font-size: 180%;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    margin-bottom: 25px;
    
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 30px auto 0 auto;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}



/* ----- PARAGRAPHS ----- */
.intro {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}
/* ----- ICONS ----- */
.icon-large {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}
.icon-small {
    font-size: 120%;
    color: #e67e22;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    
/*    methods to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;

    
}

/* ----- LINKS ----- */

a:link,
a:visited {
    text-decoration: none;
    color: #e67e22;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    -webkit-transition: color 0.2s, border-bottom 0.2s;
    transition: color 0.2s, border-bottom 0.2s;

}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}


/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    padding: 10px 50px;
    border: 1px solid #e67e22;
    color: #fff;
    border-radius: 200px;
    -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    margin-right: 20px;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    
    background-color: #e67e22;
}

.btn-unfull:link,
.btn-unfull:visited {
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  
    border: 1px solid #bf6516;
    background-color: #bf6516;

}

.btn-full:hover,
.btn-full:active {
    
    background-color: #bf6516;
}

.btn-unfull:hover,
.btn-unfull:active {
    color: #fff;
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(img/headerImg2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/headerImg2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


.header-text-box {
    position: absolute;
    width: 1140px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.logo {
    height: 150px;
    width: auto;
    float: left;
}

.logo-black {
    height: 70px;
    width: auto;
    float: left;
    display: none;
    margin-top: -1px;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 80px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
    
}


.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #bf6516;
    
}


/* sticky nav */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 2px 2px #efefef;
    z-index: 99999;
    
}
.sticky .main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{

    color: #555;
    padding: 25px 0;

    
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}

/* ----------------------------------------------- */
/* SECTION-FEATURES */
/* ----------------------------------------------- */



.section-features {
   
}

.section-features .intro {
    margin-bottom: 30px;
    
}

/* ----------------------------------------------- */
/* SECTION-SHOWCASE */
/* ----------------------------------------------- */

.section-showcase {
    padding: 0;
}

.meals-list {
    list-style: none;
    width: 100%;
    
}
.meals-list li {
    display: block;
    float: left;
    width: 25%;
    
}
.meal-pic {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-pic img {
    width: 100%;
    height: auto;
    opacity: 0.7;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-pic img:hover {

    opacity: 1;
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}


/* ----------------------------------------------- */
/* SECTION-HOW IT WORKS */
/* ----------------------------------------------- */

.section-steps {
    background-color: #efefef;
}

.steps-box {
    margin-top: 30px;
}
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    
}
.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 60px;
    
}

.app-screen {
    width: 40%;
}

.single-step {
    margin-bottom: 45px;
}

.single-step:last-of-type {
    margin-bottom: 80px;
}

.single-step div {
    width: 55px;
    height: 55px;
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    font-size: 150%;
    text-align: center;
    padding: 5px;
    display: inline-block;
    float: left;
    margin-right: 30px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 40px;
    width: auto;
    margin-right: 30px;
}

/* ----------------------------------------------- */
/* SECTION-LOCATIONS */
/* ----------------------------------------------- */
.section-locations {
    
}
.location-feature {
    margin-bottom: 5px;
}


/* ----------------------------------------------- */
/* SECTION-TESTIMONIALS */
/* ----------------------------------------------- */
.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/pexels-photo.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/pexels-photo.jpeg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

blockquote {
    font-style: italic;
    line-height: 150%;
    padding: 2%;
    position: relative;
    margin-top: 30px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    display: block;
    margin-top: 20px;

    
}

cite img {
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;

    
}

/* ----------------------------------------------- */
/* SECTION-PRICING */
/* ----------------------------------------------- */

.section-pricing {
    background-color: #f5f5f5;

}

.pricing-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;


}
.pricing-box div {
    padding: 15px;
    border: 1px solid #e8e8e8;
}

.pricing-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pricing-box div:last-child {
    text-align: center;
    border: 0;
}

.pricing-value {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
    padding: 2%;
    
}

.pricing-value span {
    font-size: 30%;
    font-weight: 300;
}

.pricing-meal {
    font-size: 80%;

}
    

.pricing-box ul {
    list-style: none;
}

.pricing-box ul li {
    padding: 5px 0;
}


/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/* Animations */
.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated {
    opacity: 1;
}



